@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

/* Hides the scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides the scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hides the scrollbar for Internet Explorer and old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}